* {
    margin:0;
    padding:0;
}

a {
    text-decoration: none;
    cursor:pointer;
    color: pink;
}

#tishi4nanduxishu3 {
	color: red;
	text-align:center;
}


.tite {
	height: 100px;
	line-height: 100px;
	background-image: url("../image/houtai.jpg");
	background-repeat: no-repeat;
	width:100%;
	background-size: 75% 300%;
	float: left;
}

#exit {
	float: right;
	margin-left: 80px;
	margin-right: 50px;
	display: table-cell;
	vertical-align: bottom;
	line-height: 50px;
	position: relative;
	top:50px;
	left:10px;
	color: pink;
}

.coment_all {
	width: 28%;
	background: url("../image/jianbian.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	float: right;
}

.coment {
	position: relative;
	text-align: center;
	font-family: "Microsoft YaHei";
	color: white;
	font-size: 28px;
	float: right;
}

.content{
	width:100%;
	float: left;
	background-size: 100%;
	background-repeat: no-repeat;
	position: relative;
}

.content_left {
	float: left;
	width: 10%;
	font-family: "Microsoft YaHei";
	background: url("../image/content2.jpg");
	position: absolute;
}

.menue {
	height: 30px;
	line-height: 30px;
	padding:10px;
	text-align: center;
}

.houtai {
	height:100%;
	line-height: 30px;
	/* padding: 0px 10px 0px 10px; */
	border: 10px;
	text-align: center;
	position: relative;
}
.houtai_coment_all, .houtai_keyan_all{
	padding:8px 0px 8px 0px;
}

.houtai_all {
	height: 100%;
	display: none;
}

.houtai_teacher,.houtai_managment,.houtai_all_neirong{
	/* margin-top: 10px; */
	padding-left: 50px;
	padding-bottom: 8px;
	font-size: 13px;
	text-align:left;
	position: relative;
	top:10px;
	left:0px;
}

.content_right_1{
	width:90%;
	float:right;
	height:100%;
	
}

.folder {
	width: 13px;
	height: 13px;
}

.table_infomations_zhangjie, .table_infomations_list{
	margin: 0 auto;
	width:100%;
}

.table_infomations_teacher {
	margin: 0 auto;
	width:45%;
	border: 0px solid silver;
}

.teacher_photo {
	width: 180px;
	height: 240px;
}

.table_infomations_list td {
	text-align: left;	
	display: table-cell;
	margin: 5px auto;
	
	/*
	 表格的线 
	 */
	 
	 
	border: 0px solid silver;
	/* border: 1px solid silver;  */
	padding-left:20px;
}

.table_infomations_teacher th, .table_infomations_teacher td,
.table_infomations_zhangjie th, .table_infomations_zhangjie td{
	display: table-cell;
	margin: 0 auto;
	border: 0px solid silver; 
	text-align: center;
} 

.content_right, .content_right_2 {
	width:90%;
	float:right;
	height:100%;
	display: none;
}

.content4houtai {
	background-color: white;
	height: 38px;
	line-height: 38px;
	font-size: 13px;
}


.content_main_title {
	padding: 10px 10px 0 10px;
	line-height: 40px;
	border:1px solid silver; 
	height:40px;
	font-weight: bold;
	font-size: 13px;
	background-color: white;
}

.content_main_content{
	padding: 10px 10px 10px 10px;
	background-color: white;
	margin: 0 auto;
	background-size:500%;
	background-image: url("../image/color.jpg");
}
.table_infomations{
	/* width:50%; */
	margin: 0 auto;
}

table,table tr th, table tr td { 
	border:1px solid silver; 
	
	/*
	 表格的线 
	 */
	border: 0px;
	border-collapse:collapse;
	/* width: 50%; */
}

select {
	width: 400px;
	height: 30px;
	border: 1px solid silver; 
}

input {
	width: 387px;
	height: 23px;
	font-weight: bold;
	padding-left: 10px;
	border: 1px solid silver; 
}

 .th4neirong {
	/* vertical-align: text-top;  */
	width:200px;；
} 

.tishi {
	color: red;
	text-align:right;
	display: none;
}

.textArea {
	padding-top: 10px; 
	font-size: 20px;
}

.neirong {
	width: 310px;
	height: 100px; 
}

th {
	text-align: right;
	/* width:45%; */
}

td {
	/* width: 55%; */
}

th, td{
	height: 50px;
	/* text-align: center; */
	line-height: 35px;
}

.table_infomations span.error {
	display: none;
}

.table_infomations_autoadd{
	/* width:50%; */
	margin: 0 auto;
}

.table_infomations_autoadd input {
	width: 200px;
	height: 23px;
	font-weight: bold;
	padding-left: 10px;
	border: 1px solid silver; 
	margin-right: 12px;
	
}

.table_infomations_autoadd select {
	width: 200px;
	height: 23px;
	border: 1px solid silver; 
}

#check .input_check {
	margin :2px 2px;
	width:15px;
	height: 15px;
}

.单选题,.多选题,.填空题,.判断题,.简答题 {
	display: none;
}

.last_table_list{
	width:100%;
}

#shijuanzongfen {
	width:75%;
}

.submit_button {
	width:130px;	
	font-family: "宋体";
	font-weight:bold;
	height: 23px;
}

.reset_button {
	width:90px;
	font-family: "宋体";
	height: 23px;
}

.tishi4nanduxishu{
	display:none;
	color: red;
}

#tishi4nanduxishu2, .sousuokuang {
	text-align:center;
	display:none;
	color: red;
}



